@import url(//fonts.googleapis.com/css?family=Ubuntu);

/*put the images I want to use in the same folder, and point to "" <img src="Styling/KakiCoffee00.png" alt="hi" class="inline"/> ""*/

/* Elements */
body {
  /* background: url("/table-booking-app/Styling/KakiCoffee01.jpg") no-repeat center fixed;     
  background-size: cover;*/
  background-color: #6f4e37 ;
}

.navbar, #navBG {
  background-color: #d0bb94 ;
}

.jumbotron {
  background-image: url("/table-booking-app/Styling/KakiCoffee00.png");
  background-color: #cccccc;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#jumboText {
  width:90%;
  margin: 1em 0.5em 1em 0.45em;
  text-align:justify;
  background-color: rgba(204, 204, 204, 0.55);
  padding: 0.5em;
}

#menuBoxes:after {
  content: "";
  display: table;
  clear: both;
}

#menuList {
  float:left;
  background-color: #d0bb94 ;
  width: 50%;
  margin: 1%;
  /*border: 1px solid black;*/
  border-radius: 25px;
  padding: 10px;
}

/* fonts */
.nav-link {
  font-family: Ubuntu;
}

h1 { 
  font-family: Ubuntu; 
  font-size: 23px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
} 

h3 { 
  font-family: Ubuntu; 
  font-size: 17px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
} 

p, dl, dt { 
  font-family: Ubuntu; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
} 

blockquote { 
  font-family: Ubuntu; 
  font-size: 17px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
} 

pre { font-family: Ubuntu; 
  font-size: 11px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
}

th { 
  font-family: Ubuntu; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
  color: black;
  background-color: #d0bb94 ;
} 

tr {
  font-family: Ubuntu; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 23px; 
  color: white;
}



/*
table, tr, td, th {
  border: 1px solid green;
  border-collapse:collapse;
  padding:10px;
}
th {
  color:white;
  background-color:green;
  border: 1px solid white;
}
td:nth-child(3) {
  text-align:center;
}*/